/tmp/
/.old_version/
/LlavaGuard-v1.2-0.5B-OV-hf/
/llava-onevision-qwen2-0.5b-ov-hf/
/.ipynb_checkpoints/
/exp_1031/
/exp_1102/
/exp_1103/
/exp_1104_50_epochs/
/exp_1106/
/test_flashattn.py
/verify_sha256.py
/exp_1106_lora/
/1106_lora_adapter/
/1106_merged_student_model/
/1107_lora_adapter/
/1107_merged_student_model/
/exp_1107_lora/
/1110_lora_adapter/
/1110_merged_student_model/
/exp_1110_lora/
/data/test/
/data/train/
/data/failed_downloads.csv
/data/download_record.txt
/.old_verify/tmp/
/.idea/
/outputs/
/outputs-1141/
/outputs-1117/
/outputs-1118/
